<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

    <div class="col-sm-1" align="left" style="padding-left: 25px;">
        <br>
        <a href="/genesearch/#/">Back to search</a>
    </div>

    <div class="col-sm-9">
        <div class="border" style="padding: 10px;">
            <form class="form-horizontal" name="formEdit" novalidate>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Gene ID:</label>
                                <div class="col-sm-7">
                                    <label class="control-label propertyDataText">
                                        {{state.model.primaryIdentifier}}
                                    </label>
                                </div>
                                <div class="col-sm-3" align="center">
                                    <button class="btn btn-default gs-btn" type="button" ng-click="openEdit()">Edit</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Gene Symbol:</label>
                            <div class="col-sm-7">
                                <label class="control-label propertyDataText">
                                    {{state.model.symbol}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Gene name:</label>
                            <div class="col-sm-7">
                                <label class="control-label propertyDataText">
                                    {{state.model.name}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Gene Description:</label>
                            <div class="col-sm-7">
                                <label class="control-label propertyDataText" style="text-align: justify">
                                    {{state.model.dsc}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Phenotype:</label>
                            <div class="col-sm-7">
                                <label class="control-label propertyDataText">
                                    {{state.model.phenotypes}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Chromosome:</label>
                            <div class="col-sm-7">
                                <label class="control-label propertyDataText">
                                    {{state.model.chromosome}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">NCBI Gene Number:</label>
                            <div class="col-sm-7">
                                <a href="http://www.ncbi.nlm.nih.gov/gene/?term={{state.model.ncbi}}" target="_blank">
                                    {{state.model.ncbi}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row vspace-top-10" >
                    <div class="col-sm-1"/>
                    <div class="col-sm-11">
                        <tabset>
                            <tab heading="Function">
                                <div class="col-sm-12 vspace-top-20">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" style="text-align: left;">Phenotype:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label propertyDataText">
                                                        {{state.model.phenotypes}}
                                                    </label>
                                                </div>
                                            </div>
                                            <table class="table table-bordered tablesorter-bootstrap tablesorter vspace-bottom-10" style="min-width:95%; table-layout:fixed;">
                                                <thead>
                                                <tr>
                                                    <th style="width: 20%;">
                                                        <div class="ng-binding" ng-click="sort('1')">GO Term Id:
                                                            <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('1', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                        </div>
                                                    </th>
                                                    <th style="width: 60%;">
                                                        <div class="ng-binding" ng-click="sort('2')">GO Term:
                                                            <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('2', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                        </div>
                                                    </th>
                                                    <th style="width: 20%;">
                                                        <div class="ng-binding" ng-click="sort('3')">Evidence Link:
                                                            <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('3', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="model in state.model.sequenceFeatureEditList" gs-zebra-rows gs-index="{{$index}}">
                                                    <td>{{model.ontologyTermId}}</td>
                                                    <td>{{model.ontologyTermName}}</td>
                                                    <td style="word-wrap: break-word;">{{model.evidenceWithText}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Genotype">
                                <div class="col-sm-12 vspace-top-20">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <table class="table table-bordered tablesorter-bootstrap tablesorter" style="min-width:95%; table-layout:fixed">
                                                <thead>
                                                <tr>
                                                    <th style="width: 50%;">
                                                        <div class="ng-binding" ng-click="sort('1')">Background:
                                                            <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('1', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                        </div>
                                                    </th>
                                                    <th style="width: 50%;">
                                                        <div class="ng-binding" ng-click="sort('2')">Zygosity:
                                                            <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('2', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="model in state.model.genotypeEditList" gs-zebra-rows gs-index="{{$index}}">
                                                    <td>{{model.background}}</td>
                                                    <td>{{model.zygosity}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Literature">
                                <div class="col-sm-12 vspace-top-20">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <table class="table table-bordered tablesorter-bootstrap tablesorter" style="min-width:95%">
                                                <thead>
                                                <tr>
                                                    <th style="width: 50%;">
                                                        <div class="ng-binding" ng-click="sort('1')">Pubmed Id:
                                                            <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('1', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                        </div>
                                                    </th>
                                                    <th style="width: 50%;">
                                                        <div class="ng-binding" ng-click="sort('2')">Doi:
                                                            <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('2', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="model in state.model.literatureEditList" gs-zebra-rows gs-index="{{$index}}">
                                                    <td>
                                                        <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{model.publicationId}}" target="_blank">{{model.publicationId}}</a>
                                                    </td>
                                                    <td>{{model.publicationDoi}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Homology">
                                <div class="col-sm-12 vspace-top-20">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10   ">
                                        <table class="table table-bordered tablesorter-bootstrap tablesorter" style="min-width:95%; table-layout:fixed;">
                                            <thead>
                                            <tr>
                                                <th style="width: 20%;">
                                                    <div class="ng-binding" ng-click="sort('1')">ID
                                                        <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('1', 'asc'),
                                                        'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                    </div>
                                                </th>
                                                <th style="width: 20%;">
                                                    <div class="ng-binding" ng-click="sort('2')">Symbol
                                                        <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('2', 'asc'),
                                                        'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                    </div>
                                                </th>
                                                <th style="width: 20%;">
                                                    <div class="ng-binding" ng-click="sort('3')">Organism name
                                                        <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('3', 'asc'),
                                                        'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                    </div>
                                                </th>
                                                <th style="width: 20%;">
                                                    <div class="ng-binding" ng-click="sort('4')">Type
                                                        <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('4', 'asc'),
                                                        'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                    </div>
                                                </th>
                                                <th style="width: 20%;">
                                                    <div class="ng-binding" ng-click="sort('5')">Datasets
                                                        <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('5', 'asc'),
                                                        'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="model in state.model.homologyEditList" gs-zebra-rows gs-index="{{$index}}">
                                                    <td>{{model.primaryIdentifier}}</td>
                                                    <td>{{model.symbol}}</td>
                                                    <td>{{model.organismName}}</td>
                                                    <td>{{model.type}}</td>
                                                    <td>{{model.datasetsName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
