<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

    <div class="col-sm-1" align="left" style="padding-left: 25px;">
        <br>
        <a href="/genesearch/#/">Back to search</a>
    </div>

    <div class="col-sm-8">
        <div class="border" style="padding: 10px;">

        <!--<div class="row">-->
            <!--<a href="/genesearch/#/">Back to search</a>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<label class="control-label col-sm-3"><h1>Details</h1></label>-->
        <!--</div>-->

            <form class="form-horizontal" name="formEdit" novalidate>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label class="control-label col-sm-2">Gene ID:</label>
                            <div class="col-sm-7">
                                <!--<input type="text" ng-model="state.model.ontologyAnnotationEdit.subjectEdit.primaryIdentifier" style="width: 100%;">-->
                                <label class="control-label propertyDataText">
                                    {{state.model.primaryIdentifier}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Gene Symbol:</label>
                            <div class="col-sm-7">
                                <!--<input type="text" ng-model="state.model.ontologyAnnotationEdit.subjectEdit.symbol" style="width: 100%;">-->
                                <label class="control-label propertyDataText">
                                    {{state.model.symbol}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Gene name:</label>
                            <div class="col-sm-7">
                                <!--<input type="text" ng-model="state.model.ontologyAnnotationEdit.subjectEdit.name" style="width: 100%;">-->
                                <label class="control-label propertyDataText">
                                    {{state.model.name}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Gene Description:</label>
                            <div class="col-sm-7">
                                <!--<textarea ng-model="state.model.ontologyAnnotationEdit.subjectEdit.dsc" ng-maxlength="2000" style="margin: 0px;width: 100%;min-height: 60px;max-height: 60px;height: 60px" class="form-control"></textarea>-->
                                <label class="control-label propertyDataText" style="text-align: justify">
                                    {{state.model.dsc}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Phenotype:</label>
                            <div class="col-sm-7">
                                <!--<input type="text" ng-model="state.model.ontologyAnnotationEdit.ontologyTermEdit.name" style="width: 100%;">-->
                                <label class="control-label propertyDataText">
                                    {{state.model.name}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Chromosome:</label>
                            <div class="col-sm-7">
                                <!--<input type="text" ng-model="state.model.ontologyAnnotationEdit.subjectEdit.chromosomeName" style="width: 100%;">-->
                                <label class="control-label propertyDataText">
                                    {{state.model.chromosome}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">PubMed ID:</label>
                            <div class="col-sm-7">
                                <!--<input type="text" ng-model="state.model.ontologyAnnotationEdit.evidenceEdit.publicationEdit.id" style="width: 100%;">-->
                                <label class="control-label propertyDataText">
                                    {{state.model.ontologyAnnotationEdit.evidenceEdit.publicationEdit.id}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">NCBI Gene Number:</label>
                            <div class="col-sm-7">
                                <!--<input type="text" ng-model="state.model.geneEdit.ncbi" style="width: 100%;">-->
                                <a href="http://www.ncbi.nlm.nih.gov/gene/?term={{state.model.ncbi}}" target="_blank">
                                    <!--<label class="control-label propertyDataText">-->
                                        {{state.model.ncbi}}
                                    <!--</label>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row vspace-top-10" >
                    <div class="col-sm-1"/>
                    <div class="col-sm-10">
                        <tabset>
                            <tab heading="Function">
                                <div class="col-sm-12 vspace-top-20">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <accordion close-others="true">
                                                <accordion-group is-open="state.functionAccordeon.isFirstOpen">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading">GO Term Id:</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.sequenceFeatureEditList">{{item.ontologyTermId}}</div>
                                                </accordion-group>
                                                <accordion-group is-open="false">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading">GO Term</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.sequenceFeatureEditList">{{item.ontologyTermName}}</div>
                                                </accordion-group>
                                                <accordion-group is-open="false">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading">Evidence Link:</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.sequenceFeatureEditList">{{item.evidenceWithText}}</div>
                                                </accordion-group>
                                                <accordion-group is-open="false">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading">Phenotype:</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.searchGeneResponseList">{{item.ontologyTermName}}</div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Genotype">
                                <div class="col-sm-12 vspace-top-20">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <accordion close-others="true">
                                                <accordion-group is-open="state.functionAccordeon.isFirstOpen">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading" style="{cursor:pointer;}">Background:</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.searchGeneResponseList">{{item.evidenceBaseAnnotationsSubjectBackgroundName}}</div>
                                                </accordion-group>
                                                <accordion-group is-open="false">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading">Zygosity:</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.searchGeneResponseList">{{item.evidenceBaseAnnotationsSubjectZygosity}}</div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Literature">
                                <div class="col-sm-12 vspace-top-20">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <accordion close-others="true">
                                                <accordion-group is-open="state.functionAccordeon.isFirstOpen">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading">Pubmed Id:</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.searchGeneResponseList">{{item.publicationId}}</div>
                                                </accordion-group>
                                                <accordion-group is-open="false">
                                                    <accordion-heading>
                                                        <div class="boldFont font-11 accordion-heading">Doi</div>
                                                    </accordion-heading>
                                                    <div ng-repeat="item in state.model.searchGeneResponseList">{{item.publicationDoi}}</div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Homology">
                                <div class="col-sm-12 vspace-top-20">
                                    <table class="table table-bordered tablesorter-bootstrap tablesorter" style="min-width:95%">
                                        <thead>
                                        <tr>
                                            <th style="width: 20%;">
                                                <div class="ng-binding" ng-click="sort('1')">ID
                                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('1', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                </div>
                                            </th>
                                            <th style="width: 20%;">
                                                <div class="ng-binding" ng-click="sort('2')">Symbol
                                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('2', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                </div>
                                            </th>
                                            <th style="width: 20%;">
                                                <div class="ng-binding" ng-click="sort('3')">Organism name
                                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('3', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                </div>
                                            </th>
                                            <th style="width: 20%;">
                                                <div class="ng-binding" ng-click="sort('4')">Type
                                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('4', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                </div>
                                            </th>
                                            <th style="width: 20%;">
                                                <div class="ng-binding" ng-click="sort('5')">Datasets
                                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-chevron-down': canSort('5', 'asc'),
                                                    'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="model in state.model.homologyEditList" gs-zebra-rows gs-index="{{$index}}">
                                            <!--<tr ng-repeat="model in state.model.geneEdit.homologyEditList" ng-click="setSelected(model)" ngDblclick="show(model)" ng-class="{'active':isSelected(model), 'gs-deleted': model.deleted}" ng-dblclick="openShow(model)" gs-zebra-rows gs-index="{{$index}}">-->
                                                <td>{{model.primaryIdentifier}}</td>
                                                <td>{{model.symbol}}</td>
                                                <td>{{model.organismName}}</td>
                                                <td>{{model.type}}</td>
                                                <td>{{model.datasetsName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
