<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel();">&times;</button>
    <h3 id="clientModalLabel">Edit gene</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <form class="form-horizontal" name="formEditGene" novalidate>
            <div class="row">
                <div class="col-sm-12">

                    <div class="row" style="margin-bottom: 5px;">
                        <form class="form-horizontal" name="dates">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Gene ID</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="state.model.primaryIdentifier" name="title" placeholder="" type="text" >
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 5px;">
                        <form class="form-horizontal" name="dates">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Gene Symbol</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="state.model.symbol" name="title" placeholder="" type="text" >
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 5px;">
                        <form class="form-horizontal" name="dates">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Gene Name</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="state.model.name" name="title" placeholder="" type="text" >
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 5px;">
                        <form class="form-horizontal" name="dates">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Gene Description</label>
                                    <div class="col-sm-7">
                                        <textarea ng-model="state.model.dsc" ng-maxlength="2000" style="margin: 0px;width: 100%;min-height: 60px;max-height: 60px;height: 60px" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 5px;">
                        <form class="form-horizontal" name="dates">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Chromosome</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="state.model.chromosome" name="title" placeholder="" type="text" >
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 5px;">
                        <form class="form-horizontal" name="dates">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">NCBI Gene Number</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="state.model.ncbi" name="title" placeholder="" type="text">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <tabset>
                        <tab heading="Function">
                            <table class="table table-bordered tablesorter-bootstrap tablesorter" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="ng-binding">
                                                GO Term ID
                                            </div>
                                        </th>
                                        <th>
                                            <div class="ng-binding">
                                                GO Term Name
                                            </div>
                                        </th>
                                        <th>
                                            <div class="ng-binding">
                                                Evidence Link
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        ng-repeat="property in state.model.sequenceFeatureEditList"
                                        ng-click="setSelected(property)"
                                        gs-zebra-rows gs-index="{{$index}}">
                                        <td>
                                            <div ng-if="isSelected(property)">
                                                <div class="input-group search">
                                                    <input class="form-control" ng-model="property.ontologyTermId" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                                </div>
                                            </div>
                                            <div ng-if="!isSelected(property)">
                                                {{property.ontologyTermId}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="isSelected(property)">
                                                <div class="input-group search">
                                                    <input class="form-control" ng-model="property.ontologyTermName" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                                </div>
                                            </div>
                                            <div ng-if="!isSelected(property)">
                                                {{property.ontologyTermName}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="isSelected(property)">
                                                <div class="input-group search">
                                                    <input class="form-control" ng-model="property.evidenceWithText" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                                </div>
                                            </div>
                                            <div ng-if="!isSelected(property)">
                                                {{property.evidenceWithText}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="newSequenceFeature.ontologyTermId" type="text">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="newSequenceFeature.ontologyTermName" type="text">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="newSequenceFeature.evidenceWithText" type="text">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Genotype">
                            <table class="table table-bordered tablesorter-bootstrap tablesorter" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="ng-binding">
                                            Background
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ng-binding">
                                            Zygosity
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ng-binding">
                                            PubmedId
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ng-binding">
                                            Doi
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                        ng-repeat="property in state.model.geneAnnotationList"
                                        ng-click="setSelected(property)"
                                        gs-zebra-rows gs-index="{{$index}}">
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.evidenceBaseAnnotationsSubjectBackgroundName" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.evidenceBaseAnnotationsSubjectBackgroundName}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.evidenceBaseAnnotationsSubjectZygosity" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.evidenceBaseAnnotationsSubjectZygosity}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.publicationId" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.publicationId}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.publicationDoi" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.publicationDoi}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.evidenceBaseAnnotationsSubjectBackgroundName" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.evidenceBaseAnnotationsSubjectZygosity" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.publicationId" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.publicationDoi" type="text">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>

                        <tab heading="Homology">
                            <table class="table table-bordered tablesorter-bootstrap tablesorter" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="ng-binding">
                                            ID
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ng-binding">
                                            Symbol
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ng-binding">
                                            Organism name
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ng-binding">
                                            Type
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ng-binding">
                                            Datasets
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                        ng-repeat="property in state.model.homologyEditList"
                                        ng-click="setSelected(property)"
                                        gs-zebra-rows gs-index="{{$index}}">
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.primaryIdentifier" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.primaryIdentifier}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.symbol" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.symbol}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.organismName" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.organismName}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.type" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.type}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="isSelected(property)">
                                            <div class="input-group search">
                                                <input class="form-control" ng-model="property.datasetsName" type="text">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button" ng-click="save(property)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button class="btn btn-default" type="button" ng-click="restore(property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </div>
                                        <div ng-if="!isSelected(property)">
                                            {{property.datasetsName}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.primaryIdentifier" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.symbol" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.organismName" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.type" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group search">
                                            <input class="form-control" ng-model="newGeneAnnotation.datasetsName" type="text">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default gs-btn" ng-click="ok();" ng-disabled="formCreateOrg.$invalid">Save</button>
    <button type="button" data-dismiss="modal" class="btn btn-default gs-btn" ng-click="cancel();">Cancel</button>
</div>




<!--<div class="form-group">-->
    <!--<label class="col-sm-4 control-label">SPR Провайдера SCCP</label>-->
    <!--<div class="col-sm-8">-->
        <!--<div class="input-group">-->
            <!--<input class="form-control" ng-model="state.model.sprPoint.value" name="title" placeholder="SPR" disabled="" type="text" >-->
                                                        <!--<span class="input-group-btn">-->
                                                            <!--<button class="btn btn-default" type="button" ng-click="selectFilterService.clearFilter(state.model.sprPoint)">-->
                                                                <!--<i class="glyphicon glyphicon-remove"></i>-->
                                                            <!--</button>-->
                                                            <!--<button class="btn btn-default" type="button" ng-click="selectFilterService.selectFilter(state.model.sprPoint, 'sprpoint')">-->
                                                                <!--<i class="glyphicon glyphicon-pencil"></i>-->
                                                            <!--</button>-->
                                                        <!--</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->