<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

    <div class="col-sm-1" align="left" style="padding-left: 25px;">
        <br>
        <button class="btn btn-link" ng-click="collapsed = !collapsed" style="text-align:left">Filter</button>
    </div>

    <div class="col-sm-9">

        <div class="border" ng-hide="collapsed" style="padding: 10px;">

            <div class="row vspace-top-10">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Gene ID</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="filters.subjectPrimaryIdentifier" placeholder="ID" ng-maxlength="200" class="form-control" ng-enter="load()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Gene Symbol</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="filters.subjectSymbol" placeholder="Symbol" ng-maxlength="200" class="form-control" ng-enter="load()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Gene name</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="filters.subjectName" placeholder="Name" ng-maxlength="200" class="form-control" ng-enter="load()">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Chromosome</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="filters.subjectChromosomeName" placeholder="Chromosome" ng-maxlength="200" class="form-control" ng-enter="load()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Background</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="filters.evidenceBaseAnnotationsSubjectBackgroundName" placeholder="Background" ng-maxlength="200" class="form-control" ng-enter="load()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Zygosity</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="filters.evidenceBaseAnnotationsSubjectZygosity" placeholder="Zygosity" ng-maxlength="200" class="form-control" ng-enter="load()">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row vspace-top-10">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Phenotype</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="filters.ontologyTermId" ng-options="term.id as term.value for term in reference.ontologyTerm">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">PubMed ID</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="filters.publicationId" placeholder="PubMed ID" ng-maxlength="200" class="form-control" ng-enter="load()">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12" align="center">
                <ul class="list-inline gs-header-ul">
                    <li><div ng-include="'page/table-pagination.html'"></div></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><button class="btn btn-default gs-btn" type="button" ng-click="newGene()">New Gene...</button></li>
                    <li><button class="btn btn-default gs-btn" type="button" ng-click="clearFilters()">Clear</button></li>
                    <li><button class="btn btn-default gs-btn" type="button" ng-click="load()">Search</button></li>
                </ul>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12 scroll-width">
                <table class="table table-bordered tablesorter-bootstrap tablesorter" style="min-width:95%">
                    <thead>
                    <tr>
                        <th style="width: 5%;">
                            <div class="ng-binding" ng-click="setSort('subjectPrimaryIdentifier')" align="center">
                                Gene ID
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('subjectPrimaryIdentifier', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('subjectPrimaryIdentifier', 'desc')}"></i>
                            </div>
                        </th>
                        <th style="width: 3%;">
                            <div class="ng-binding" ng-click="setSort('subjectSymbol')"  align="center">
                                Gene Symbol
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('subjectSymbol', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('subjectSymbol', 'desc')}"></i>
                            </div>
                        </th>
                        <th style="width: 30%;">
                            <div class="ng-binding" ng-click="setSort('subjectName')"  align="center">
                                Gene name
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('subjectName', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('subjectName', 'desc')}"></i>
                            </div>
                        </th>
                        <th style="width: 5%;">
                            <div class="ng-binding" ng-click="setSort('ontologyTermName')"  align="center">
                                Phenotype
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('ontologyTermName', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('ontologyTermName', 'desc')}"></i>
                            </div>
                        </th>
                        <th style="width: 5%;">
                            <div class="ng-binding" ng-click="setSort('publicationId')"  align="center">
                                PubMed ID
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('publicationId', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('publicationId', 'desc')}"></i>
                            </div>
                        </th>
                        <th style="width: 20%;">
                            <div class="ng-binding" ng-click="setSort('evidenceBaseAnnotationsSubjectBackgroundName')"  align="center">
                                Background
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('evidenceBaseAnnotationsSubjectBackgroundName', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('evidenceBaseAnnotationsSubjectBackgroundName', 'desc')}"></i>
                            </div>
                        </th>
                        <th style="width: 2%;">
                            <div class="ng-binding" ng-click="setSort('evidenceBaseAnnotationsSubjectZygosity')"  align="center">
                                Zygosity
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('evidenceBaseAnnotationsSubjectZygosity', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('evidenceBaseAnnotationsSubjectZygosity', 'desc')}"></i>
                            </div>
                        </th>
                        <th style="width: 10%;">
                            <div class="ng-binding" ng-click="setSort('subjectChromosomeName')"  align="center">
                                Chromosome
                                <i class="pull-right"
                                   ng-class="{'glyphicon glyphicon-chevron-down': canSort('subjectChromosomeName', 'asc'), 'glyphicon glyphicon-chevron-up':canSort('subjectChromosomeName', 'desc')}"></i>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <!--
                        NB!!!
                        After changing 'popover-title' attribute of <td> you MUST change 'div[title~=...' style in application.css,
                        because popover width depends on 'popover-title' attribute
                    -->

                    <tr ng-repeat="model in state.geneList"
                        ng-class="{'active':isSelected(model), 'gs-deleted': model.deleted}"
                        gs-zebra-rows gs-index="{{$index}}"
                        ng-click="setSelected(model)">
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="right"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">

                            <a href="{{getDetailsUrl(model)}}">{{model.subjectPrimaryIdentifier}}</a>
                        </td>
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="right"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">{{model.subjectSymbol}}</td>
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="auto"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">{{model.subjectName}}</td>
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="auto"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">{{model.ontologyTermName}}</td>
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="auto"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">{{model.publicationId}}</td>
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="auto"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">{{model.evidenceBaseAnnotationsSubjectBackgroundName}}</td>
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="auto"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">{{model.evidenceBaseAnnotationsSubjectZygosity}}</td>
                        <td ng-mouseover="createPopoverTemplate(model)"
                            popover-title="<b>Gene brief details</b>"
                            popover-placement="auto"
                            popover="{{state.popoverTemplate}}"
                            popover-popup-delay="1000"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true">{{model.subjectChromosomeName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>